# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore Makefile
Makefile

# Ignore qt user-specific files
*.pro.user
*.Debug
*.Release
*.stash
*.user
*.c915a3a
*.user
*.d153f59
build-contact-Desktop_Qt_6_6_1_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-contact-Desktop_Qt_6_6_1_MinGW_64_bit-Debug/debug/moc_predefs.h
build-contact-Desktop_Qt_6_6_1_MinGW_64_bit-Debug/ui_mainwindow.h
*.idx
build-contact-Desktop_Qt_6_6_1_MinGW_64_bit-Debug/.qtc_clangd/compile_commands.json
